body::-webkit-scrollbar {
    width: 8px;
    background-color: $light-grey;
}

body::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: $light-grey;
}

body::-webkit-scrollbar-thumb {
    background-color: $light-blue;
    border-radius: 20px;
}
