$white: #fff;
$light-grey: #f0f9ff;
$grey: #636363;
$darker-grey: #31403c;
$light-cyan: #c2ebf8;
$cyan: #0ad0d2;
$blue: #005cd5;
$light-blue: #00ace3;

$max-width: 1280px;
$min-width: 250px;
$laptop-bp: 1080px;
$mobile-bp: 860px;
